@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap);
$bg-img: url('../../assets/footer.png');

$montserrat: 'Montserrat', serif;
$merriweather: 'Merriweather', serif;
$raleway: 'Raleway', sans-serif;
$highlight-opacity: #76F4EA80;

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

%centered-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-family: $montserrat;
  font-size: 2.375rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.25rem;
}

.subtitle{
  font-family: $merriweather;
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container{
  padding: 0 9.3rem;
}

.header{
  background-color: #EFF0F2;
  padding-top: 4rem;
  padding-bottom: 100px;
  position: relative;
  height: 807px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__logo{
    @extend %flex-centered;
    align-self: flex-start;
    height: 47px;
    width: 117px;
    font-family: $montserrat;
    font-size: 1rem;
    font-weight: 700;
    border: 5px solid black;
    &_letter::after{
      position: relative;
      display: inline-block;
      content: '';
      height: 12px;
      width: 12px;
      border: 3px solid #77EFE5;
      border-radius: 50%;
    }
  }
  &__title{
    margin: 12.1rem 0 9rem;
    text-shadow: 7px 7px 6px rgba(0,0,0,0.3);
    font-family: $montserrat;
    font-size: 2.8rem;
    text-align: center;
    &_highlight{
      font-size: inherit;
      background-color: $highlight-opacity;
    }
  }
  &__contact-btn{
    width: 233px;
    height: 54px;
    font-family: $montserrat;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.2s ease-in;
    &:hover{
      transition: all 0.2s ease-in;
      cursor: pointer;
      background-color: #00000010;
    }
  }
  &__glass{
    position: absolute;
    right: 20.2rem;
    bottom: 15rem;
    &_coaster, &_juice{
      left: 0;
      top: 0;
      position: absolute;
    }
    &_juice{
      filter: hue-rotate(160deg);
    }
    &_coaster{
      top: 30px;
      left: 5px;
    }
  }
}

.about, .works, .team{
  padding-top: 7.3rem;
  padding-bottom: 50px;
}

.about{
  background-color: #F8FAFA;
  &__container{
    padding: 9rem 2rem 7.2rem 5rem;;
    display: flex;
    justify-content: space-between;
    &_image{
      width: 400px;
      height: 480px;
      img{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &_text{
      padding-left: 2rem;
      width: 50%;
      line-height: 28px;
      h3{
        font-family: $merriweather;
        font-size: 1.25rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      p{
        font-family: $raleway;
        font-size: 1rem;
        margin-bottom: 30px;
      }
    }
  }
}

.works{
  h2{
    margin-top: 0.3rem;
  }
  padding-bottom: 7.9rem;
  &__grid{
    @extend %grid;
    margin-top: 7.48rem;
    grid-row-gap: 0.6rem;
    grid-template-rows: 22.5rem 22.5rem;
    &_image-wrapper{
      width: 100%;
      height: 100%;
      img{
        @extend %centered-img;
      }
    }
  }
}

.team{
  background-color: #F8FAFA;
  padding-top: 5.35rem;
  padding-bottom: 12.9rem;
  &__grid{
    @extend %grid;
    margin-top: 7rem;
    grid-template-rows: 27.8rem 27.5rem;
    &_image-wrapper{
      width: 100%;
      height: 100%;
      position: relative;
      img{
        @extend %centered-img;
      }
    }
  }
}

.team__grid__inner-block{
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  transition: opacity .2s ease-in;
  animation: show-info .2s 1 ease-in;
  &_triangle{
    margin-left: 25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10.5px 18.2px 10.5px;
    border-color: transparent transparent #71F6EB transparent
  }
  &_main{
    height: 100%;
    background-color: #71F6EB;
    padding: 2.2rem
  }
  &_title{
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
    h4{
      font-size: 1.25rem;
      font-family: $merriweather;
    }
    p{
      padding-left: 0.3rem;
      font-family: $merriweather;
      color: #656566;
      font-style: italic;
    }
  }
  &_body{
    font-size: 1rem;
    font-family: $raleway;
    margin: 1.2rem 0 2.2rem; 
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
  &_links-block{
    &_link{
      text-decoration: none;
      color: #000;
      transition: all .2s ease-in;
      &:hover{
        color: #fff;
        cursor: pointer;
        transition: all .2s ease-in;
      }
      &:nth-child(2){
        margin: 0 1rem;
      }
      &:nth-child(2){
        margin: 0 0.8rem;
      }
    }
  }
}

.feedback{
  background-image: $bg-img;
  padding-top: 6.25rem;
  padding-bottom: 7.75rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  &:before {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, #f8fafa 0%, #f8fafae5 19%, #f8fafadb 40%, #f8fafac0 67%, #f8fafabb 100%);
    z-index: 2;
  }
  &__form{
    position: relative;
    z-index: 3;
    width: 38.375rem;
    display: flex;
    flex-direction: column;
    background-color: #021623CC;
    padding: 2.9rem 2rem 2.3rem;
    &_input{
      padding-bottom: 0.8rem;
      margin-bottom: 1.55rem;
      font-family: $raleway;
      background-color: transparent;
      border: none;
      color: #fff;
      border-bottom: 1px solid #ffffff80;
    }
    &_btn{
      margin-top: 1.1rem;
      width: 15.25rem;
      height: 3.3rem;
      font-family: $montserrat;
      font-size: 1.195rem;
      background-color: #6EEEE4;
      transition: all .2s ease-in;
      border: none;
      &:hover{
        transition: all .2s ease-in;
        cursor: pointer;
        background-color: #6EEEE480;
      }
    }
  }
  &__address{
    position: relative;
    z-index: 3;
    width: 31.25rem;
    background-color: #021623CC;
    padding: 2.1rem 1.5rem 1rem 1.2rem;
    &_link{
      padding-left: 0.65rem;
      font-family: $raleway;
      text-decoration: none;
      font-size: 15px;
      color: #fff;
      line-height: 1.5rem;
      &:nth-child(5){
        margin-top: 1.3rem;
      }
      a{
        font-size: inherit;
        color: inherit;
        text-decoration: inherit;
        line-height: inherit;
        font-family: $raleway;
        transition: all .2s ease-in;
        &:hover{
          color: #6EEEE4;
          transition: all .2s ease-in;
        }
      }
    }
    &_map{
      margin-top: 1.26rem;
      width: 100%;
      height: 225px;
    }
  }
}
.footer{
  @extend %flex-centered;
  padding-top: 5.5rem;
  justify-content: flex-start;
  flex-direction: column;
  height: 320px;
  background-color: #262B2E;
  color: #fff;
  &__title{
    font-family: $raleway;
    font-size: 1rem;
    text-align: center;
  }
  &__btn-group{
    @extend %flex-centered;
    margin-top: 0.5rem;
    &_btn{
      @extend %flex-centered;
      background-color: #71F6EB;
      height: 2.5rem;
      width: 2.875rem;
      color: #000;
      margin: 10px 4px;
      text-decoration: none;
      font-size: 1.5rem;
      transition: all .2s ease-in;
      &:hover{
        transition: all .2s ease-in;
        background-color: #6EEEE480;
      }
    }
  }
}
.pop-up{
  position: fixed;
  background-color: #00000020;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  &__close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: #6EEEE4;
    border: 1px solid black;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .2s ease-in;
    &:hover{
      cursor: pointer;
      transition: all .2s ease-in;
      background-color: #6EEEE480;
    }
  }
  img{
    height: 90vh;
    width: auto;
  }
}

@keyframes show-info{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}